<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
  </head>
  <body>
    <h1>SGIN IN</h1>
    <nav>
      <a href="/">home</a>
      <a href="/login">login</a>
      <a href="/private">private</a>
      <a href="/signin">sign in </a>
    </nav>
    <form action="" id="f">
      <lable>User Name</lable>
      <input type="text" name="username" />
      <lable>Password</lable>
      <input type="password" name="password" />
      <button type="submit">Sign in</button>
    </form>
    <script src="signin.js"></script>
  </body>
</html>
